<!--<div class="container">

    <div class="jumbotron">
        <h1 class="display-4">Todo's!</h1>

        <div class="card">
            <div class="card-body">
                <input type="text" placeholder="Alors on fait quoi ?">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                </ul>
            </div>
        </div>

    </div>
-->


<div class="container">
    <div class="row">
        <div class="col-9">
            <h1 class="text-center">
                Todo's!
            </h1>

            <div class="card">
                <div class="card-header">
                    <div class="form-group">
                        <input type="text" class="form-control" (keyup)="addItem($event)">
                    </div>
                </div>

                <ul class="list-group list-group-flush">
                    <li *ngFor="let item of todoArray; let itemIndex = index" class="list-group-item d-flex justify-content-between">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                {{ item.title }}
                            </label>
                        </div>
                        <button class="btn  btn-outline-danger btn-sm" id="erase" (click)="removeItem(itemIndex)"> X </button>
                    </li>
                    
                </ul>
                <div class="card-footer d-flex justify-content-between">
                    <div>
                        {{todoArray.length}} items
                    </div>
                    <button class="btn btn-sm btn-link">
                        Clear completed
                    </button>
                    
                </div>
            </div>

        </div>
    </div>
</div>